*{
    box-sizing: border-box;
}

body{
    background-color: darkcyan;
    color:darkslateblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.movie_select{
    margin: 20px 0;
}

.movie_select select{
    background-color: white;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding:5px 15px 5px 15px;

}

.container{
    perspective: 1000px;
    margin-bottom: 30px;
}

.seat{
    background-color: grey;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat.selected{
    
}